{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %} Configuration {% endblock %}
{% block content %}
<div id="body">
    <div class="container">
      <div class="row">
        <form method="post">
        	{% csrf_token %}
        	<div class="col-md-6">

	        	<div class="fieldWrapper">
	            	{{ form.name.errors }}
	            	<label>Nome: </label>
	            	{% render_field form.name class+="form-control" %}
	        	</div>
	        	<div class="spaceWrapper">
	            	{{ form.minimum_absolute_stop_time.errors }}
	            	<label>Tempo mínimo para alguém pedir stop sem completar (em segundos): </label>
	            	{% render_field form.minimum_absolute_stop_time class+="form-control" %}
	        	</div>
	        	<div class="spaceWrapper">
	            	{{ form.round_duration.errors }}
	            	<label>Duração máxima (em segundos): </label>
	            	{% render_field form.round_duration class+="form-control" %}
	        	</div>
	        	<div class="spaceWrapper">
	            	{{ form.game_duration.errors }}
	            	<label>Duração do jogo (em rounds): </label>
	            	{% render_field form.game_duration class+="form-control" %}
	        	</div>
	        	<div class="spaceWrapper">
	            	{{ form.password.errors }}
	            	<label>Senha para entrar (deixe vazio para entrada sem senha): </label>
	            	{% render_field form.password class+="form-control" %}
	        	</div>
	        	<div class="spaceWrapper">
	            	{{ form.fields.errors }}
	            	<label class="col-md-12">Campos: </label>
	            	{% for c in form.fields.field.choices %}
	            	<div class="col-md-6">
	            	<input id="id_selected_letters_{{c.0}}" type="checkbox" value="{{c.0}}" name="fields"></input> {{c.1}}
	            	</div>
	            	{% endfor %}
	        	</div>
	        </div>
	        <div class="col-md-6">
	        	<div class="spaceWrapper">
	            	{{ form.selected_letters.errors }}
	            	<label class="col-md-12">Letras selecionadas: </label>
	            	{% for c in form.selected_letters.field.choices %}
	            	<div class="col-md-2">
	            	<input id="id_selected_letters_{{c.0}}" type="checkbox" value="{{c.0}}" name="selected_letters"></input> {{c.1}}
	            	</div>
	            	{% endfor %}
	        	</div>
	        	<input type="submit" class="btn btn-primary col-md-12" value="Criar sala"></input>
	        </div>
        </form>
      </div>
    </div>
    <hr>
</div>
{% endblock %}