{% extends "base.html" %}
{% block title %} AAAAAA {% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-2 field">
            <div class="col-md-12 field-header">CEP</div>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">T</span>
                <input type="text" class="form-control" placeholder="T" disabled>
            </div>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">S</span>
                <input type="text" class="form-control" placeholder="Sudão" disabled>
            </div>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">A</span>
                <input type="text" class="form-control" placeholder="A">
            </div>
        </div>
        <div class="col-md-2 field">
            <div class="col-md-12 field-header">CEP</div>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">T</span>
                <input type="text" class="form-control" placeholder="T" disabled>
            </div>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">S</span>
                <input type="text" class="form-control" placeholder="Sudão" disabled>
            </div>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">A</span>
                <input type="text" class="form-control" placeholder="A">
            </div>
        </div>
        <div class="col-md-2 field">
            <div class="col-md-12 field-header">CEP</div>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">T</span>
                <input type="text" class="form-control" placeholder="T" disabled>
            </div>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">S</span>
                <input type="text" class="form-control" placeholder="Sudão" disabled>
            </div>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">A</span>
                <input type="text" class="form-control" placeholder="A">
            </div>
        </div>
    </div>
    <button onclick="requestStop()" class="text-center btn btn-danger btn-lg"><span class="glyphicon glyphicon-exclamation-sign"></span> STOP</button>
    <hr>
<script src="{{STATIC_URL}}js/play.js">
{% endblock %}
