{% extends "base.html" %}
{% block title %} Playing at: {{ room.name }} {% endblock %}
{% block content %}
    <div class="container">
        <br/>
        <form form action="{% url 'stopgame.views.send_answers' room.id %}" method="post">
            {% csrf_token %}
            {% for field in fields %}
                <div class="col-md-2 field">
                    <div title="{{ field.name }}"class="col-md-12 field-header">{{ field.short_name }}</div>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">{% if round %} {{ round.cur_letter }} {% endif %}</span>
                        <input name="{{ field.short_name }}" id="{{ field.short_name }}" type="text" class="form-control" placeholder="{{ round.cur_letter }}">
                    </div>
                </div>
            {% endfor %}

            <div class="col-md-2 field">
                <button type="submit" onclick="requestStop()" class="text-center btn btn-danger btn-lg" value="send"><span class="glyphicon glyphicon-exclamation-sign"></span> STOP</button>
            </div>
        </form>

        <div class="game-info">
            <strong>Letras selecionadas</strong>
            <ul class="nav nav-pills">
                {% for letter in letters %}
                <li>
                    <div class="letters">
                        <span class="badge">{{ letter }}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <br>
            <p><strong>Round atual</strong> <span class="label label-default size-90">{{ room.round_number }}</span></p>
            <p><strong>Total de rounds</strong> <span class="label label-default size-90">{{ room.game_duration }}</span></p>
            <div class="time-info">Tempo <span class="label label-danger size-90">100</span></div>
        </div>

        <!-- <div class="col-md-2 field">
            <div class="col-md-12 field-header">CEP</div>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">T</span>
                <input type="text" class="form-control" placeholder="T" disabled>
            </div>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">S</span>
                <input type="text" class="form-control" placeholder="Sudão" disabled>
            </div>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">A</span>
                <input type="text" class="form-control" placeholder="A">
            </div>
        </div> -->
    </div>
    
    <!-- <button onclick="requestStop()" class="text-center btn btn-danger btn-lg"><span class="glyphicon glyphicon-exclamation-sign"></span> STOP</button> -->
    <hr>
<script src="{{STATIC_URL}}js/play.js">
{% endblock %}
